#btm {
    margin: 20% auto;
    padding: 20px;
    text-align: center;
    width: 200px;
    border: 2px solid black;
    border-radius: 20%;
}
.tab{
    margin: 20px auto;
    width: 100px;
    height: 100px;
    border: 3px solid black;
}